<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <section id="features" class="ud-features">
    <div class="container">
      <h1>Hello world</h1>
      <% products.map((products)=>{ %>
        <h4>
          <%=products.producttitle %>
        </h4>
        <p>
          <%=products.description %>
        </p>
        <p>
          ราคา :<%=products.price %> บาท
        </p>
       <% })%>
    </div>
  </section>

</body>
</html>
  